@media (max-width:970px) {
.header {
    max-width: 100%;
}
.logo {
    padding-left: 15px;
    margin-bottom: 10px;
}
.first_section {
    text-align: center;
}
.text {
    margin-left: 0;
    padding-right: 10px;
}
.card {
    margin-right: 10px;
}
.some_bullet{
    max-width: 100%;
    margin-left: 0;
}
.third {
    display: flex;
}
}
@media (max-width:767px) {
    body {
        min-width: 320px;
    }
    .logo {
        float: none;
        text-align: center;
        padding-left: 0;
    }
    .nav {
        text-align: center;
        float:none;
    }
    .item {
       margin-left: 20px;    
       margin-bottom: 10px;
    }
    .text {
        margin-top: 10px;
        width: 100%;
        font-size:30px;
    }
    .p_first{
        font-size: 25px;
    }
    .first_section {
        margin-bottom: 10px;
    }
    .card-icon {
        width: 130px;
        height: 130px;
    }
    .card {
        width: 100%;
        margin-bottom: 10px;
    } 
    .iphone {
        display:none;
    }
    .display-phone{
        flex-direction: column;
        padding-left: 5px;
        padding-right: 5px;
      }
      .shopping_icon {
          display: none;
      }
      .shoping-title{
          text-align: center;
          margin-bottom: 10px;
      }
      .h3 {
          text-align: center;
      }

    }
